.login-parent-container {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form {
  display: flex;
  flex-direction: column;
}
h2 {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049; /* Darker green */
}

.flex {
  display: flex;
  flex-direction: row-reverse;
}

.flexBetween {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 12px;
}
