.card {
    border: 1px solid #e8e8e8;
    transition: transform 0.2s;
  }
  
.card-body{
    padding: 10px;
}

  .card:hover {
    border: 1px solid #a9a9a9;
    transform: scale(1.02);
  }
  
  .selected-data {
    margin-top: 20px;
  }
  